@import url('https://fonts.googleapis.com/css?family:Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.slider-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

.left-slide {
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
p {
  color: #fff;
}

.right-slide {
  top: 0;
  left: 35%;
  height: 100%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.action-buttons button {
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 100;
}

.action-buttons .down-button {
  transform: translateX(-100%);
}

.action-buttons .up-button {
  transform: translateY(-100%);
}

button {
  background-color: #fff;
  color: rgb(145, 138, 138);
  padding: 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  color: rgb(41, 39, 39);
}
