@import url('https://fonts.googleapis.com/css?family=Leto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Leto', sans-serif;
  background-color: #333;
  color: #222;
  margin: 0;
  overflow-x: hidden; /* to hide the scroll bar on the x-axis */
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative; /* to position the button absolute */
  transition: transform 0.5s linear;
}

/* the circle when the container has show-nav */
.container.show-nav .circle {
  transform: rotate(-70deg); /* negative value is anticlockwise */
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  color: #fff;
  border: 0;
  font-size: 26px;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translate(0); /* to bring the lis back */
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  transform: translateX(-100%); /* they will ease-in horizonatlly from left */
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

/* to put the next two li at a distance/angle */
nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%); /* to be off the screen */
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%); /* to be off the screen */
}

.content img {
  max-width: 100%; /* 100% of its container */
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}
