@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rgb(36, 34, 175);
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 40px;
  position: fixed;
  top: 10px;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.btn:active {
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  justify-content: space-around;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  height: 600px;
  width: 600px;
}

.box {
  background-image: url(https://thumbs.gfycat.com/ColorlessUnsteadyCopperbutterfly-size_restricted.gif);
  height: 125px;
  width: 125px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.box::after {
  content: '';
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
  z-index: -1;
}

.box::before {
  content: '';
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
  z-index: -1;
}
